@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Bungee&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Normal */
  --color-normal-dark: #505034;
  --color-normal-deep: #a8a77a;
  --color-normal-base: #cbcaaf;
  --color-normal-light: #e3e2d4;
  --color-normal-lightest: #ebebe0;

  /* Fire */
  --color-fire-dark: #7b3a0a;
  --color-fire-deep: #ee8130;
  --color-fire-base: #f5b484;
  --color-fire-light: #fad7bd;
  --color-fire-lightest: #fbe2d0;

  /* Water */
  --color-water-dark: #0c2f79;
  --color-water-deep: #6390f0;
  --color-water-base: #86a9f3;
  --color-water-light: #bed1f9;
  --color-water-lightest: #d0defb;

  /* Electric */
  --color-electric-dark: #806805;
  --color-electric-deep: #f7d02c;
  --color-electric-base: #fae37f;
  --color-electric-light: #fcf0ba;
  --color-electric-lightest: #fdf4ce;

  /* Grass */
  --color-grass-dark: #3a6520;
  --color-grass-deep: #7ac74c;
  --color-grass-base: #b4df9a;
  --color-grass-light: #d7eec9;
  --color-grass-lightest: #e2f3d8;

  /* Ice */
  --color-ice-dark: #23615f;
  --color-ice-deep: #96d9d6;
  --color-ice-base: #9edcd9;
  --color-ice-light: #cbeceb;
  --color-ice-lightest: #daf1f0;

  /* Fighting */
  --color-fighting-dark: #6e1a17;
  --color-fighting-deep: #c22e28;
  --color-fighting-base: #e89491;
  --color-fighting-light: #f3c6c4;
  --color-fighting-lightest: #f6d6d5;

  /* Poison */
  --color-poison-dark: #60255f;
  --color-poison-deep: #a33ea1;
  --color-poison-base: #da9fd9;
  --color-poison-light: #ebcbeb;
  --color-poison-lightest: #f1daf0;

  /* Ground */
  --color-ground-dark: #705615;
  --color-ground-deep: #e2bf65;
  --color-ground-base: #ead18f;
  --color-ground-light: #f4e6c3;
  --color-ground-lightest: #f7edd4;

  /* Flying */
  --color-flying-dark: #290d78;
  --color-flying-deep: #a98ff3;
  --color-flying-base: #a387f2;
  --color-flying-light: #cdbff8;
  --color-flying-lightest: #dcd1fa;

  /* Psychic */
  --color-psychic-dark: #80052a;
  --color-psychic-deep: #f95587;
  --color-psychic-base: #fa7fa5;
  --color-psychic-light: #fdbac6;
  --color-psychic-lightest: #fdcedc;

  /* Bug */
  --color-bug-dark: #687410;
  --color-bug-deep: #a6b91a;
  --color-bug-base: #e3ef8b;
  --color-bug-light: #f0f6c0;
  --color-bug-lightest: #f4f9d2;

  /* Rock */
  --color-rock-dark: #665a1e;
  --color-rock-deep: #b6a136;
  --color-rock-base: #E1D599;
  --color-rock-light: #efe8c8;
  --color-rock-lightest: #f3efd8;

  /* Ghost */
  --color-ghost-dark: #403054;
  --color-ghost-deep: #735797;
  --color-ghost-base: #baabcf;
  --color-ghost-light: #dad2e5;
  --color-ghost-lightest: #e5dfec;

  /* Dragon */
  --color-dragon-dark: #270283;
  --color-dragon-deep: #6f35fc;
  --color-dragon-base: #a27cfd;
  --color-dragon-light: #cdb9fe;
  --color-dragon-lightest: #dbcdfe;

  /* Dark */
  --color-dark-dark: #523f33;
  --color-dark-deep: #705746;
  --color-dark-base: #ccbaad;
  --color-dark-light: #e4dad3;
  --color-dark-lightest: #ebe4e0;

  /* Steel */
  --color-steel-dark: #36364f;
  --color-steel-deep: #b7b7ce;
  --color-steel-base: #b0b0c9;
  --color-steel-light: #d5d5e2;
  --color-steel-lightest: #e1e1ea;

  /* Fairy */
  --color-fairy-dark: #632142;
  --color-fairy-deep: #d685ad;
  --color-fairy-base: #de9cbc;
  --color-fairy-light: #edcadb;
  --color-fairy-lightest: #f2d9e5;

  /* Pokeball */
  --color-pokeball-red: #fb3b38;
  --color-pokeball-dark-red: #960503;
  --color-pokeball-blue: #0c2f79;
  --color-pokeball-dark-blue: #0a2866;

  /* text */
  --color-text-primary: #313131;
  --color-text-secondary: #535353;
  --color-text-tertiary: #818181;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@font-face {
  font-family: pokemon-font;
  src: url(/assets/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Russo One;
  src: url(/assets/RussoOne-Regular.ttf);
}

@keyframes flicker {
  0%, 100% {
    border: 0.25rem solid transparent;
  }
  50% {
    border: 0.25rem solid #ffffff;
  }
}

@keyframes fadeOutBackground {
  0% {
    background: var(--color-text-primary);
    opacity: 1;
  }
  100% {
    background: transparent;
    opacity: 0;
  }
}

@keyframes suck {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(0.75);
    opacity: 0.75;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  75% {
    transform: scale(0.25);
    opacity: 0.25;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 20rem;
  min-height: 100vh;
}

/* Typography */
.game-font {
  font-family: pokemon-font;
  color: #ffffff;
  animation: flicker 1s infinite;
}

.Russo-One {
  font-family: Russo One;
}

.game-font:hover {
  background-color: rgba(255, 255, 255, 0.5); 
  color: #ffffff;
}

.header {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--color-text-primary);
}

.pokeball-header{
  background-color: var(--color-text-primary);
  border: 0.125rem solid var(--color-text-primary);
  border-radius: 100%;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--color-text-primary);
}

/* Buttons */
.back-btn {
  background-color: transparent;
  padding: 0rem;
}

.back-btn:hover {
  border-color: transparent;
}

.main-btn {
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-pokeball-red);
  cursor: pointer;
  color: #ffffff;
}

.main-btn:hover {
  background-color: var(--color-pokeball-dark-red);
}

/* Navigation */
.nav-item {
  font-size: 1rem;
  font-weight: 600;
  color: #313131;
  font-family: "Roboto", sans-serif;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.125rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--color-pokeball-blue);
}

.nav-item-btn {
  font-size: 1rem;
  font-weight: 400;
  color: #313131;
  font-family: "Roboto", sans-serif;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 6.25rem;
  letter-spacing: 0.125rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.nav-item-btn:hover {
  background-color: var(--color-pokeball-blue);
  color: #ffffff;

  .icon{
    color: #ffffff;
  }
}

.icon{
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-text-primary)
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--color-pokeball-blue);
}

/* Pokemon View Styling */
.stat {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.6em 1.2em;
  border-radius: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-text-primary);
  backdrop-filter: blur(0.25rem);
}

.gender-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

/* Pokemon Game Styling */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Loading */
.loading {
  background: var(--color-text-primary);
  transition: all 0.3s ease;
}

.loading.fade-out {
  animation: fadeOutBackground 1s ease-out forwards;
}

.loading-icon {
  animation: suck 0.2s ease-in forwards;
  animation-delay: 8s;
}